/* Reset */
body *{box-sizing:border-box;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,img,button,select{margin:0;padding:0}
/* body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,button, th,td,input,select,textarea{font-size:14px;line-height:1.3;font-weight:400;font-family:inter, sans-serif;} */
body{word-break:keep-all;word-wrap:break-word;-webkit-text-size-adjust:none;margin:0;padding:0;background:transparent;}
em,address{font-style:normal}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important}
nav,dl,ul,ol,menu,li{margin:0;padding:0;list-style:none;}
button{cursor:pointer;}
.fltlft{float:left;}
.fltrgt{float:right;}

/* Common : Layout */
.wrap{overflow:hidden;position:absolute;top:0;bottom:0;left:0;right:0;}
nav{position:absolute;top:0;bottom:0;left:0;width:180px;border-right:1px solid #d3d3d3;}
section{overflow:auto;position:absolute;top:0;bottom:0;left:180px;right:0;}
nav ul{overflow:hidden;overflow-y:auto;position:absolute;top:0;bottom:0;left:0;right:0;padding:10px;}
nav ul li:last-child{margin-bottom:8px;}
nav ul li+li{margin-top:8px;}
nav li a{display:flex;align-items:center;justify-content:center;width:100%;height:36px;border:1px solid #d3d3d3;border-radius:8px;color:#4a4a4a;font-size:14px;text-decoration:none;}
nav li.selected a{background:#1c90fb;border-color:#1a84e6;color:#fff;}

/* 영화앱 */
.loader{padding:14px;}
.movies{padding:8px;background:#2f2f2f;}
.ex_movie_bx{padding:8px;}
.ex_movie_bx:after{display:block;clear:both;content:'';}
.ex_movie_bx .inbx{padding:12px;border:1px solid #666;}
.ex_movie_bx .poster{display:inline-block;width:120px;margin-right:12px;;vertical-align:top;}
.ex_movie_bx .data{display:inline-block;width:calc(100% - 132px);padding:4px 0;}
.ex_movie_bx .genres{margin-top:6px;}
.ex_movie_bx .genres:after{display:block;clear:both;content:'';}
.ex_movie_bx .genres>li{float:left;color:#fff;font-size:14px;list-style:none;}
.ex_movie_bx .genres>li+li{margin-left:6px;}
.ex_movie_bx .title{color:#fff;font-size:18px;}
.ex_movie_bx .year{margin-top:6px;color:#fff;font-size:14px;}
.ex_movie_bx .summary{margin-top:14px;color:#fff;font-size:13px;line-height:16px;}

/* Javascript Event */
/* .sec_box{} */
.evt .sec_box:after{display:block;clear:both;content:''}
.evt .sec_box + .sec_box{margin-top:40px;}
.evt .sec_box .title{float:left;padding:14px;background:#000;color:#fff;font-size:18px;font-weight:bold;}
.evt .sec_box .con_box{clear:both;float:left;}
.evt .sec_box .con_box div{display:inline-block;margin-top:50px;/*border:1px solid #242424;*/vertical-align:top;box-sizing:border-box;}
.evt .sec_box .con_box .ev-root{width:200px;height:200px;margin-top:10px;background:wheat;}
.evt .sec_box .con_box .ev-parent{width:150px;height:150px;background:tomato;}
.evt .sec_box .con_box .ev-child{width:100px;height:100px;background:violet;}


/* .btn_target{padding:2px 10px 0;background:#fff;border:1px solid #ddd;font-size:13px;box-sizing:border-box;}
.btn_target:hover, .btn_target:focus{background:#1c90fb;border-color:#333;} */


/* React Practice */
.container{margin:5px;padding:16px;border:5px solid red;box-sizing:border-box;}

/* Finder */
.finder_wrap{width:100%;padding:20px;}
.finder_wrap .search_box{padding:14px;background:#f5f5f5;border:1px solid #b4b4b4;border-bottom-color:#e5e5e5;}
.finder_wrap .search_box input{width:100%;padding:8px;border:1px solid #bfbfbf;border-radius:4px;font-size:14px;}
.finder_wrap .search_box input:focus{outline-color:#1c90fb;}
.finder_wrap .result_box{border:1px solid #b4b4b4;}
.finder_wrap .result_box .dvbx{display:flex;align-items:stretch;width:100%;max-width:100%;}
.finder_wrap .result_box .dvbx .item{overflow:hidden;flex:1;display:flex;align-items:center;justify-content:center;position:relative;padding:6px 8px 5px;font-size:13px;}
.finder_wrap .result_box .dvbx .item+.item:before{position:absolute;top:50%;left:0;width:1px;height:14px;margin-top:-7px;background:#d3d3d3;content:'';}
.finder_wrap .result_box .dvbx .item:nth-child(1),
.finder_wrap .result_box .dvbx .item:nth-child(2),
.finder_wrap .result_box .dvbx .item:nth-child(2){flex:.6 .6;}
.finder_wrap .result_box .dvbx .item:nth-child(4){flex:2.2 2.2;justify-content:left;}
.finder_wrap .result_box .dvbx .item:nth-child(5){flex:1.4 1.4;}
.finder_wrap .result_box .dvbx .item .inbx{line-height:16px;word-break:break-all;}
.finder_wrap .result_box .dvbx .item .inbx em{color:#379fff;font-weight:bold;}
.finder_wrap .result_box .result_header{display:flex;padding:6px 0;background:#5f68ea;border:1px solid #b4b4b4;border-width:0px 1px;color:#fff;font-size:14px;}
.finder_wrap .result_box .result_header .dvbx .item:nth-child(4){justify-content:center;}
.finder_wrap .result_box .result_content{overflow:hidden;overflow-y:auto;max-height:500px;}
.finder_wrap .result_box .result_content .dvbx .item{padding:12px 8px 11px;}


.finder_wrap .result_box .result_content .search_empty{display:flex;justify-content:center;align-items:center;height:100%;min-height:300px;background:#f7f7f7;color:#898989;font-size:14px;font-weight:bold;}